<div class="col-md-3">

     <ul class="sidebar-list">

          <li class="sidebar-item">

               <%= link_to 'Modifier mon profil', edit_user_registration_path, class: 'sidebar-link active' %>

          </li>

     </ul>

    <ul>
       <li class="button-navigate">
         <%= link_to 'Voir mon profil', user_path(current_user.id), class: 'btn btn-default wide' %>
       </li>
       <li class="button-navigate">
         <%= link_to 'Mes annonces', :controller => "rooms", :action => "index", class: 'btn btn-default wide' %>
     </li>
    </ul>
 </div>
 
<div class="col-md-7 text-center"
  <div class ="panel panel-default">
    <div class="panel-heading">
        <div class="col-md4 text-center">
        <h2>Modifier profil</h2>
        </div>
    </div>
    <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render 'shared/devise_errors' %>
    
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
      </div>
      
      <div class="form-group">
                  <span class="btn btn-default btn-file">

                        Upload ma photo

                        <%= f.file_field :avatar %>

                   </span>
      </div>
      
      <div class="form-group">
        <%= f.text_field :fullname, placeholder: "Nom complet", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.text_field :phone_number, placeholder: "numéro de téléphone", class: "form-control" %>
      </div>
    
      <div class="form-group">
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> caractères minimum</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" , placeholder: "Nouveau mot de passe" , class: "form-control"%>
      </div>
    
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Nouveau mot de passe" , class: "form-control"%>
      </div>
      
      <div class="col-md4 text-center">
        <div class="actions">
          <%= f.submit "Enregistrer", class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
    </div>
</div>
</div>
<div class="container">
  <div class="col-md8 col-md-offset-1 text-center">

    <h3>Supprimer mon compte</h3>
    
    <p>Vous supprimerez définitivement votre compte <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Confirmation" }, method: :delete, class: "btn btn-primary" %></p>
    </br>
    <%= link_to "retour", :back, class: "btn btn-primary" %>
  </div>
</div>
</div>